# ignore venv
.venv/
venv/

# ignore pycache
__pycache__/
*.pyc

# jupyter checkpointid
.ipynb_checkpoints/

# ignore .vscode ja .idea
.vscode/
.idea/

# pytest ja mypy cache
.pytest_cache/
.mypy_cache/

# macOS stuff
.DS_Store

# keskkonna failid
.env
.coverage

# ignore mp3 ja wav helifailid
*.mp3
*.wav
